<div class="container mt-3">
  <h1 class="text-center">New Listing</h1>

  <%= form_with scope: :listing, url: listings_path, local: true do |form| %>

    <div class="mt-3">
      <h3><%= form.label :name %>:</h3>
      <%= form.text_field :name, :class => "form-control", :required => true  %>
    </div>

    <div class="mt-3">
      <h3><%= form.label :property_type %>:</h3>
      <%= form.text_field :property_type, :class => "form-control", :required => true  %>
    </div>

    <div class="mt-3">
    <h3><%= form.label :country %>:</h3>
      <%= form.text_field :country, :class => "form-control", :required => true  %>
    </div>
   
    <div class="mt-3">
      <h3><%= form.label :city %>:</h3>
      <%= form.text_field :city, :class => "form-control", :required => true  %>
    </div>

    <div class="mt-3">
      <h3><%= form.label :number_of_rooms %>:</h3>
      <%= form.text_field :room_number, :class => "form-control", :required => true  %>
    </div>
   
    <div class="mt-3">
      <h3><%= form.label :number_of_bathrooms %>:</h3>
      <%= form.text_field :bathroom_number, :class => "form-control", :required => true  %>
    </div>

     <div class="mt-3">
      <h3><%= form.label :street %>:</h3>
      <%= form.text_field :street, :class => "form-control", :required => true  %>
    </div>

    <div class="mt-3">
      <h3><%= form.label :area %>:</h3>
      <%= form.text_field :area, :class => "form-control", :required => true %>
    </div>
   
    <div class="mt-3">
      <h3><%= form.label :price %>:</h3>
      <%= form.text_field :price, :class => "form-control", :required => true  %>
    </div>

    <div class="mt-3">
      <h3><%= form.label :guest %>:</h3>
      <%= form.text_field :guest, :class => "form-control", :required => true  %>
    </div>
   
    <div class="pt-2 mt-4">
      <%= form.submit :class => "btn btn-primary" %>
      <%= link_to 'Back', listings_path, :class => "pl-2" %>
    </div>

  <% end %>
</div>
