<div class="form-group text-field container mt-3">
  <h1 class="text-center">Edit Profile for <%= current_user.first_name + ' ' + current_user.last_name %></h1>

  <%= form_for @user, :html => {:multipart => true} do |form| %>
    <p>
     <h3><%= form.label :first_name %>:</h3> 
      <%= form.text_field :first_name, :class => "form-control" %>
    </p>

    <p>
      <h3><%= form.label :last_name %>:</h3>
      <%= form.text_field :last_name, :class => "form-control" %>
    </p>

    <p>
      <h3><%= form.label :username %>:</h3>
      <%= form.text_field :username, :class => "form-control" %>
    </p>
   
    <p>
      <h3><%= form.label :email %>:</h3>
      <%= form.text_field :email, :class => "form-control" %>
    </p>

    <p>
      <h3><%= form.label :profile_picture %>:</h3>
      <%= form.file_field :profile_picture %>
    </p>

    <p>
      <%= form.submit :class => "btn btn-primary my-4" %>
    </p>
  <% end %>

  <%= link_to 'Back', user_path(current_user), :class => "btn btn-primary" %>
</div>

