<div id="clearance" class="sign-up container mt-3">
  <h2 class="text-center"><%= t(".title") %></h2>

  <%= form_for @user, :id => "sign_up" do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="submit-field">
      <%= form.submit :class => "btn btn-primary my-4" %>
    </div>

    <!-- <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path, :class => "btn btn-primary" %>
    </div> -->
  <% end %>
</div>
